/opdracht_1/test.py
/opdracht_1/3D.png
/opdracht_2/test.py
/opdracht_3/test.py
/Statistiek Oefeningen/
/opdracht_1/algemene_feedback.py
/opdracht_1/oplossing1.py
/opdracht_2/oplossing2.py
/opdracht_1/feedback1.txt
/opdracht_2/feedback2.txt
